:root {
    --primary-color:rgb(255,255,255);
    --secondary-color:rgb(0,0,225);
    --bg-color:rgb(204,153,255);
    --font-color:rgb(255,255,255);
    --heading-color:rgb(255,255,255);
}

[data-theme="dark"] {
     --primary-color: rgb(0, 0, 0);
     --secondary-color:rgb(0,225,225);
     --bg-color:rgb(0,0,0);
     --font-color:rgb(255,255,255);
     --heading-color:rgb(0,225,225);
 }

 header {
    color: var(--heading-color);
 }
 body {
    background: var(--bg-color);
    color: var(--font-color);
 }
 a {
    color: var(--secondary-color);
 }
 
 a:hover {
    filter: brightness(80%);
 }